<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Usuario</title>
</head>

<body>

  <div class="wrapper row">
    <nav class="col-md-2">
      <div>
        <app-logout></app-logout>         
      </div>
    </nav>
    <main class="col-md-8">
      <div class="container">
        <div class="container-fluid border mt-3 border-0">
          <table class="table table-responsive  table-striped table-bordered" *ngIf=usuarios>
            <thead> 
                <tr> 
                  <th scope="col">Correo</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Nit</th>
                  <th scope="col">Fecha de Registro</th>
                </tr> 
            </thead> 
            <tbody *ngFor="let usuario of usuarios"> 
                <tr> 
                  <th scope="row">{{usuario.email}}</th>
                <td>{{usuario.nombre}}</td>         
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.nit}}</td>
                <td>{{usuario.fechaRegistro}}</td>
                
                </tr> 
                            </tbody> 
                        </table> 
                      </div>
                        </div>
      
      
                        
    </main>
    <nav class="col-md-2">
      <div>
      <!--  right sidebar-->


      </div>
    </nav>
  </div>

</body>
</html>

