

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper.row {
  flex-wrap: nowrap;
  margin: 0;
}

.wrapper.row>* {
  padding: 0;
  text-align: center;
}

/* ----- end ----- */

.col-md-2 {
  background-color: white;
}

.col-md-2 div {
  position: sticky;
  top: 0;
}

.col-md-8 {
  background-color: white;
  height: 175vh;
}