<!DOCTYPE html>
<html lang="es">
<head>

<!----->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Página 2</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>


    .sidebar {
        height: 100vh;
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #343a40;
        color: white;
    }

    .sidebar a {
        color: white;
        padding: 15px;
        text-decoration: none;
        display: block;
    }

    .sidebar a:hover {
        background-color: #575757;
    }

    .content {
        margin-left: 250px;
        padding: 20px;
    }
</style>

</head>

<body >
  

    <!-- Sidebar -->
    <div class="sidebar">
<app-logout></app-logout>
  </div>

    <!-- Contenido principal -->


 
<div class="content">


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Equipo
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" ><label>Agregar<button type="button" (click)="agregarMarcaModelo()"(click)="agregarequipoProcesador()" class="btn btn-outline-light"></button></label></a></li>
                    <li><a class="dropdown-item" href="#">Buscar</a></li>
                    <li><a class="dropdown-item" href="#">Editar</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>Usuario</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>


        </nav>

          
      <div class="container">
          <h1>Equipo de Cómputo</h1>


<hr>
<hr>


<form (ngSubmit)="ingresar()" id="equipoForm">

  
   <script>

      function resetInput() {
            document.getElementById('imagenUploader').value = ""; // Resetea el input a vacío
       }
         </script>

      <div *ngFor="let c of equipo.marcamodelo">
        <div class="form-floating mb-3">

          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" style="text-transform:uppercase" 
          [ngModelOptions]="{standalone:true}"[(ngModel)]="equipo.sicoin" [(ngModel)]="c.equiposicoin"  class="form-control" value=onFileChange($event)>
          <label for="floatingInput">Sicoin</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Nombre del equipo" style="text-transform:uppercase"
          [ngModelOptions]="{standalone:true}" [(ngModel)]="equipo.nombrehost"  class="form-control" >
          <label for="floatingInput">Nombre del equipo</label>
        </div>


      
    <div class="form-floating mb-3">
        <select class="form-select" id="inputGroupSelect03" aria-label="Floating label" placeholder="Marca" 
        [ngModelOptions]="{standalone:true}" [(ngModel)]="c.marcaidmarca" [(ngModel)]="selectedCountry"  class="form-control" (change)="onCountryChange()" >
             <option  *ngFor="let marca of marcas" value={{marca.idmarca}}>{{marca.marca}}</option>    
        </select>
        <label for="floatingSelect">Marca</label>
      </div>



  
              <div class="form-floating mb-3" >
          <select class="form-select" id="inputGroupSelect03" aria-label="Floating label" placeholder="Modelo" 
         [ngModelOptions]="{standalone:true}" [(ngModel)]="c.modeloidmodelo"  [(ngModel)]="selectedCity"  class="form-control" >
             <option  *ngFor="let modelo of cities"  value={{modelo.idmodelo}}>{{modelo.modelo}} </option>    
         </select>
         <label for="floatingSelect">Modelo</label>
      </div>


      <div *ngFor="let p of equipo.equipoprocesador">
        <div class="form-floating mb-3" >
        <select class="form-select" id="inputGroupSelect03"  aria-label="Floating label" placeholder="Procesador" 
        [ngModelOptions]="{standalone:true}" [(ngModel)]="equipo.procesadores"  class="form-control" >
          <option  class="form-control" id="floatingInput" *ngFor="let u of procesadores" value={{u.idprocesador}} 
             (change)= "agregarequipoProcesador()">{{u.procesador}}</option>    
      </select>
          <label for="floatingSelect">Procesador</label>
    </div>

      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="host" placeholder="Password"   [ngModelOptions]="{standalone:true}" 
        [(ngModel)]="equipo.almacenamiento"  class="form-control" value=onFileChange($event)>
        <label for="floatingInput">Almacenamiento (GB)</label>
      </div> 

      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="Password"  [ngModelOptions]="{standalone:true}" 
        [(ngModel)]="equipo.ramidram"  class="form-control" value=onFileChange($event)>
        <label for="floatingInput">(RAM)</label>
      </div> 

      <div class="form-floating mb-3">
        <input type="date" class="form-control" id="floatingInput" placeholder="Password"   [ngModelOptions]="{standalone:true}" 
        [(ngModel)]="equipo.iniciogarantia"  class="form-control" value=onFileChange($event)>
        <label for="floatingInput">Inicio de Garantia</label>
      </div> 

      <div class="form-floating mb-3">
        <input type="date" class="form-control" id="floatingInput" placeholder="Password"   [ngModelOptions]="{standalone:true}" 
        [(ngModel)]="equipo.fingarantia"  class="form-control" value=onFileChange($event)>
        <label for="floatingInput">Fin de Garantia</label>
      </div> 
      
      <div *ngFor="let u of ubicaciones">
      <div class="form-floating mb-3">
        <select class="form-select" id="inputGroupSelect03" aria-label="Floating label" placeholder="Marca" 
        [ngModelOptions]="{standalone:true}" [(ngModel)]="c.marcaidmarca" [(ngModel)]="selectedCountry"  class="form-control" (change)="onCountryChange()" >
             <option  *ngFor="let ubicacion of ubicaciones" value={{ubicacion.idubicacion}}>{{ubicacion.ubicacion}}</option>    
        </select>
        <label for="floatingSelect">Ubicacion</label>
      </div>
 
            
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Estado"   [ngModelOptions]="{standalone:true}" 
        [(ngModel)]="equipo.estado"  class="form-control" value=onFileChange($event)>
        <label for="floatingInput">Estado</label>

      </div>  
      <div> <input class="btn btn-success" type="submit" value="Guardar"></div>
    </div>
        
 

<hr>

  


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
